#content{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top:40px;
}

.header{
    display:flex;
    justify-content: center;

}

.info-text{
    display: flex;
    justify-content: center;
    font-size:25px;
    
}